<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480090329791-niiagbislkvgv152sl9m5b4emuig3qs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480090329791-niiagbislkvgv152sl9m5b4emuig3qs1</string>
	<key>API_KEY</key>
	<string>AIzaSyBz0vYgooth4rfm9RHk3YCVYGT8cXYzUUc</string>
	<key>GCM_SENDER_ID</key>
	<string>480090329791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.born.rsaScanExample</string>
	<key>PROJECT_ID</key>
	<string>rsa-scan-example</string>
	<key>STORAGE_BUCKET</key>
	<string>rsa-scan-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480090329791:ios:df82b49182e0e3a792ec0a</string>
	<key>DATABASE_URL</key>
	<string>https://rsa-scan-example.firebaseio.com</string>
</dict>
</plist>